@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --accent-color: #3a995e;
    /* --accent-color: #4caf50; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

body {
    background-color: #111113;
    overflow-y: auto;
}

body.keyboard {
    margin-bottom: 500px; /* add padding for keyboard */
}

h1 {
    color: #f1f1f1;
    font-weight: 700;
    font-size: 1.2rem;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

h2 {
    font-weight: 700;
    font-size: 0.95rem;
    line-height: 130%;
    color: #f1f1f1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.simplebar-track.simplebar-vertical {
    width: 9px !important;
}

.simplebar-track.simplebar-horizontal {
    height: 9px !important;
}

.simplebar-scrollbar::before {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.main-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    background-color: #18181a;
    border-radius: 10px;
    word-wrap: break-word;
}

.card-btn {
    position: relative;
    display: inline-flex;
    padding: 0 12px;
    background-color: var(--accent-color);
    color: #fff;
    height: 28px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid var(--accent-color);
}

p {
    font-weight: 400;
    margin-top: 2px;
    font-size: 1rem;
    line-height: 110%;
    color: #979798;
}

#dashboard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    padding: 0 16px;
    height: 100vh;
}

.card-btn:hover {
    cursor: pointer;
}

.simplebar-content {
    margin-top: 48px;
}

.card-body {
    flex: auto;
    padding: 16px 10px 16px 16px;
    display: flex;
    flex-direction: column;
}

.card-cover {
    width: 80px;
    height: 114px;
    border-radius: 10px;
    background-color: #1e1e20;
    color: #f1f1f1;
}

.card-controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.card-title {
    font-size: 1rem;
    color: #f1f1f1;
    overflow: hidden;
    font-weight: 500;
    line-height: 133%;
}

.list-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.list-message p {
    font-size: 0.9rem;
    text-align: center;
    max-width: 400px;
}

.list-icon img {
    width: auto;
}

.list-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-title {
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--accent-color);
    margin-left: 10px;
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.new-title-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c5;
    height: 34px;
    width: auto;
    background-color: transparent;
    border: none;
    font-weight: 500;
    padding: 0 12px;
    border-radius: 8px;
    flex-shrink: 0;
    font-size: 0.9rem;
    gap: 6px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.new-title-btn:hover {
    background-color: #18181a;
    color: #fff;
}

.new-title-btn:disabled {
    color: #6b6b6c;
    cursor: not-allowed;
    pointer-events: none;
}

.new-title-btn .icon {
    font-size: 1.4rem;
}

@keyframes spring {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1);
    }
}
