@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

body {
    background-color: #111113;
    overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

h2 {
    font-weight: 700;
    font-size: 0.95rem;
    line-height: 130%;
    color: #f1f1f1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.simplebar-track.simplebar-vertical {
    width: 9px !important;
}

.simplebar-track.simplebar-horizontal {
    height: 9px !important;
}

.simplebar-scrollbar::before {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.no-select {
    user-select: none !important;
}
